body{
  background-color: grey;
}

.refresh{
  text-align: center;
  font-size: 100px;

}
.img1{
  width: 70px;
  position: absolute;
  right: 60%;

}

.img2{
  width: 70px;
  position: absolute;
  right: 40%;
  top: 34%;
}
.p1{
  position: absolute;
  right: 61%;
  top: 27%;
}
.p2{
  position: absolute;
  right: 41%;
  top: 27%;
}
